table{
  border: magenta solid 2px;
  border-collapse: collapse;
  height: 200px;
  width: 50%
}

h1{
  margin-left: 20%;
}

th, td{
  border: black solid 1px;
  text-align: center;

}

th{
  text-decoration: underline;
  background-color: lightgrey;
}

.name{
  font-weight: bold;
  font-size: 50pt;
}

#heading{
  background-color: red;
  color: #fff;
}
